@font-face {
  font-family: "iconfont"; /* Project id 4065267 */
  src: url('../fonts/iconfont.woff2?t=1683959606394') format('woff2'),
       url('../fonts/iconfont.woff?t=1683959606394') format('woff'),
       url('../fonts/iconfont.ttf?t=1683959606394') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fan:before {
  content: "\e8af";
}

.icon-user-large:before {
  content: "\e8bb";
}

.icon-umbrella:before {
  content: "\e8bc";
}

.icon-cloud-showers-heavy:before {
  content: "\e8c1";
}

.icon-yusan1:before {
  content: "\e6dc";
}

.icon-xinxiang:before {
  content: "\e646";
}

.icon-yusan:before {
  content: "\e620";
}

